build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-39d5c2cbf718fa5baeb5.json
build/.cmake/api/v1/reply/cmakeFiles-v1-7d1f3402d93939420ee0.json
build/.cmake/api/v1/reply/codemodel-v2-54027ee922ce7749c35a.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build-Debug-171cddef09c5ceb22e17.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML-Debug-7b48f148230a80d8bc59.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Audio-Debug-c90eee4f3948dd31b6d1.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Graphics-Debug-59cad2999d8fefcdd2cc.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Network-Debug-19d9c0c1e71dad5f3c4b.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.System-Debug-f3d69bdaefac483661e4.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Window-Debug-d02705b80f1038fef7ff.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-06-25T17-51-11-0882.json
build/.cmake/api/v1/reply/target-main-Debug-ecd1025cb659651d7c31.json
build/.cmake/api/v1/reply/target-sfml-audio-Debug-83ae2209c46507c7645d.json
build/.cmake/api/v1/reply/target-sfml-graphics-Debug-cfcad6e5f79aa5440499.json
build/.cmake/api/v1/reply/target-sfml-network-Debug-acdd629f6b3fb0fc5e8d.json
build/.cmake/api/v1/reply/target-sfml-system-Debug-8f2a082bb75bdd505721.json
build/.cmake/api/v1/reply/target-sfml-window-Debug-82800ccfaeda10579e98.json
build/.cmake/api/v1/reply/toolchains-v1-45edff640cac83c00333.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.4/CMakeCCompiler.cmake
build/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.4/CMakeSystem.cmake
build/CMakeFiles/3.26.4/CompilerIdC/a.out
build/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.4/CompilerIdCXX/a.out
build/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/main.dir/src/main.cpp.o
build/_deps/sfml-build/cmake_install.cmake
build/_deps/sfml-build/SFMLConfig.cmake
build/_deps/sfml-build/SFMLConfigDependencies.cmake
build/_deps/sfml-build/SFMLConfigVersion.cmake
build/_deps/sfml-build/SFMLStaticTargets.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLStaticTargets-debug.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLStaticTargets.cmake
build/_deps/sfml-build/lib/libsfml-audio-s-d.a
build/_deps/sfml-build/lib/libsfml-graphics-s-d.a
build/_deps/sfml-build/lib/libsfml-network-s-d.a
build/_deps/sfml-build/lib/libsfml-system-s-d.a
build/_deps/sfml-build/lib/libsfml-window-s-d.a
build/_deps/sfml-build/src/SFML/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Audio/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/ALCheck.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/AlResource.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/AudioDevice.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/InputSoundFile.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/Listener.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/Music.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/OutputSoundFile.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/Sound.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundBuffer.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundBufferRecorder.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundFileFactory.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundFileReaderFlac.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundFileReaderMp3.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundFileReaderOgg.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundFileReaderWav.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundFileWriterFlac.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundFileWriterOgg.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundFileWriterWav.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundRecorder.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundSource.cpp.o
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/SoundStream.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/BlendMode.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/CircleShape.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Color.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/ConvexShape.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Font.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/GLCheck.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/GLExtensions.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Glsl.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Image.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/ImageLoader.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RectangleShape.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderStates.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTarget.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTexture.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImpl.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImplDefault.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImplFBO.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderWindow.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Shader.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Shape.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Sprite.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Text.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Texture.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/TextureSaver.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Transform.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Transformable.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Vertex.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/VertexArray.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/VertexBuffer.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/View.cpp.o
build/_deps/sfml-build/src/SFML/Network/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/Ftp.cpp.o
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/Http.cpp.o
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/IpAddress.cpp.o
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/Packet.cpp.o
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/Socket.cpp.o
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/SocketSelector.cpp.o
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/TcpListener.cpp.o
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/TcpSocket.cpp.o
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/UdpSocket.cpp.o
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/Unix/SocketImpl.cpp.o
build/_deps/sfml-build/src/SFML/System/cmake_install.cmake
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Clock.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Err.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/FileInputStream.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Lock.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/MemoryInputStream.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Mutex.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Sleep.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/String.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Thread.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/ThreadLocal.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Time.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Unix/ClockImpl.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Unix/MutexImpl.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Unix/SleepImpl.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Unix/ThreadImpl.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Unix/ThreadLocalImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Clipboard.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Context.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Cursor.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/GlContext.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/GlResource.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Joystick.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/JoystickManager.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Keyboard.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Mouse.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Sensor.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/SensorManager.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Touch.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/VideoMode.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Vulkan.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Window.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/WindowBase.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/WindowImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/ClipboardImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/CursorImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/Display.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/GlxContext.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/InputImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/JoystickImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/KeyboardImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/KeySymToKeyMapping.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/KeySymToUnicodeMapping.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/SensorImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/VideoModeImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/VulkanImplX11.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/WindowImplX11.cpp.o
build/_deps/sfml-build/tools/pkg-config/sfml-all.pc
build/_deps/sfml-build/tools/pkg-config/sfml-audio.pc
build/_deps/sfml-build/tools/pkg-config/sfml-graphics.pc
build/_deps/sfml-build/tools/pkg-config/sfml-network.pc
build/_deps/sfml-build/tools/pkg-config/sfml-system.pc
build/_deps/sfml-build/tools/pkg-config/sfml-window.pc
build/_deps/sfml-subbuild/.ninja_log
build/_deps/sfml-subbuild/build.ninja
build/_deps/sfml-subbuild/cmake_install.cmake
build/_deps/sfml-subbuild/CMakeCache.txt
build/_deps/sfml-subbuild/CMakeLists.txt
build/_deps/sfml-subbuild/CMakeFiles/cmake.check_cache
build/_deps/sfml-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/sfml-subbuild/CMakeFiles/rules.ninja
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate-complete
build/_deps/sfml-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/sfml-subbuild/CMakeFiles/3.26.4/CMakeSystem.cmake
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/Labels.json
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/Labels.txt
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-build
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-configure
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-done
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-download
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-gitclone-lastrun.txt
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-gitinfo.txt
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-install
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-mkdir
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-patch
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-test
build/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-cfgcmd.txt
build/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-gitclone.cmake
build/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-gitupdate.cmake
build/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-mkdirs.cmake
build/bin/main
